apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: mysqldb
        image: saichaitanya6969/clientapp:appimage
        ports:
        - containerPort: 80
        env:
            - name: DB_HOST
              value: mysqldb
      imagePullSecrets:
            - name: dockerhub-secret
